<h1>Dashboard Ruby On Rails App</h1>

<h3>Features</h3>
<ul>
  <li>We're using Rails <%= Rails.version %></li>
  <li>We're using Ruby  <%= RUBY_VERSION %></li>
  <li>Postgresql 9.6.3</li>
  <li>Angular</li>
  <li>Bootstrap</li>
</ul>
